<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

    <appSettings>
        <add key="smptUrl" value=""/>
        <add key="smptPort" value=""/>
        <add key="smtpBenutzername" value=""/>
        <add key="smptPasswort" value=""/>
        <add key="Absendername" value=""/>
        <!--<add key="Absenderemail" value=""/>-->

        <add key="sendeIntervalStunden" value="24"/>
        <add key="Kunden" value="Kunden"/>

        <add key="emailContent" value="plain"/>
    </appSettings>
</configuration>
