<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <add key="smptUrl" value=""/>
        <add key="smptPort" value=""/>
        <add key="smtpBenutzername" value=""/>
        <add key="smptPasswort" value=""/>
        <add key="Absendername" value=""/>
        <!--<add key="Absenderemail" value=""/>-->
        
        <add key="emailContent" value="plain"/>
    </appSettings>
</configuration>